<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Data In Heading</title>
    <link rel="stylesheet" href="/design.css">

</head>
<body>
    
    <a href="/"> GO BACK TO HOME </a>

    <h1><%= filename %></h1>
    <p><%= filedata %></p>

</body>
</html>